{{ partial "default_head.html" . }}

<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
    {{ range .Data.Pages }}

    <div class="post">
{{ if .Title }}
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <span class="post-date">{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}
{{ else }}
        <a href="{{ .Permalink }}"><span class="post-date">{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}</a>
{{ end }}
</span>
        {{ .Content }}
    </div>

{{ end }}
</div>

{{ partial "default_foot.html" . }}

