{{ partial "default_head.html" . }}

{{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}

<div class="posts h-feed">
  {{ range .Paginator.Pages }}
    <div class="post h-entry">
{{ if .Title }}
        <h1 class="post-title p-name"><a href="{{ .Permalink }}" class="u-url">{{ .Title }}</a></h1>
        <time class="post-date dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}</time>
{{ else }}
        <a href="{{ .Permalink }}" class="u-url"><time class="post-date dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}</time></a>
{{ end }}
        <div class="e-content">{{ .Content }}</div>
    </div>
  {{ end }}
</div>

<div class="pagination">
  {{ if $paginator.HasNext }}
  <a class="pagination-item older" href="{{ $paginator.Next.Permalink }}">Older</a>
  {{ else }}
  <span class="pagination-item older">Older</span>
  {{ end }}

  {{ if $paginator.HasPrev }}
  <a class="pagination-item newer" href="{{ $paginator.Prev.Permalink }}">Newer</a>
  {{ else }}
  <span class="pagination-item newer">Newer</span>
  {{ end }}
</div>

{{ partial "default_foot.html" . }}
